/* Default styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

/* Custom properties*/

:root {
    --main-bg-color: #021222;
    --footer-bg-color: #051c38;
    --footer-text-color: #ffffff;
}

/* NAV */

.nav {
    position: relative;
    background: var(--main-bg-color);
    height: 80px;
}

.nav__container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    line-height: 80px;
    z-index: 100;
}

.nav__logo {
    margin-left: 20px;
    z-index: 100;
    cursor: pointer;
}

.nav__logo h1 {
    color: #4eb8ff;
    font-size: 35px;
    font-weight: 700;
}

.nav__link {
    text-decoration: none;
    color: #d1faf4;
    font-size: 20px;
    margin: 0 25px;
}

.nav__link:hover {
    color: #61a6ff;
}

/* Nav button*/

.nav__btn__switch {
    background: #2f71c8;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    outline: none;
}

.nav__btn__switch::after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 2px rgb(0, 0, 0, .2);
}

.nav__btn__switch.active {
    background-color: #e5a30b;
    color: #021222;

}

.nav__btn__switch.active::after {
    right: 0;
    left: unset;

}

.nav__btn__switch span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    background: none;
    color: #fff;
}

/*End Nav buttom*/

.nav__toggle {
    margin-right: 20px;
    font-size: 30px;
    cursor: pointer;
    transition: .3s;
    display: none;
}

/* MAIN */

.main__article {
    align-items: center;
}


/* ARTICLE */

.article__section {
    display: grid;
    justify-content: space-between;
    margin: 20px auto;
    width: clamp(50%, 90ch, 70%);
    grid-template-columns: repeat(2, auto);
}

.article__tittle {
    color: #021222;
}

.article__paragraph {
    color: #021222;
    margin-top: 20px;
}

.article__image {
    margin: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    align-items: right;
    object-fit: cover;
}


/* FOOTER */

.footer {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    padding: 0;
    bottom: 0;
    width: 100%;
    background: var(--footer-bg-color);
    color: var(--footer-text-color);
}

.footer__paragraf {
    padding: 1.5em;
    text-align: center;
}


/* MEDIA QUERYS */

@media (0px < width < 589px) {
    .article__section {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .nav__links {
        width: 30%;
    }
}


@media (max-width: 589px){

    /* Nav */
    .nav__toggle {
        display: inline-block;
    }

    .nav__links {
        position: absolute;
        display: flex;
        flex-direction: column;
        background: #021222;
        text-align: center;
        height: auto;
        width: 40%;
        z-index: 1;
        top: -120vh;
        right: 0;
        transition: .5s;
    }

    .nav__toggle--active {
        top: 80px;
        right: 0;
    }
}